.landing-ctn {
  height: 100vh;
  width: 100%;

  position: absolute;

  background-color: blue;
  background-size: cover;

  text-align: center;
}

.landing-ctn h1,h2 {
  padding: 2px 2px 4px 4px;
  color: white;
  position: relative;
}

.search-ctn {
  background-color: grey;
}
.live-tracker-ctn {
  background-color: red;
}


.step-ctn {
  background-color: green;
}
